@import "@fontsource/metropolis"; 
@import "@fontsource/metropolis/300"; 
@import "@fontsource/metropolis/500";
@import "@fontsource/metropolis/600"; 
@import "@fontsource/metropolis/700";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #191414;
	--sidebar-color: #000;
	--header-color: #000;
	--text-color: #fff;
	--accent-color: #1db954;
	--menu-background-color: #2e2e2e;
	--light-gray: #a7a7a7;
	--medium-gray: #2e2e2e;
	--dark-gray: #181818;
	--menu-text-color: #fff;
	--border: rgba(255, 255, 255, 0.15);
	--sidebar-width: 250px;
	--header-height: 64px;
	--error: #c24141;
	--warning: #e7a917;
}

body {
    @apply font-metropolis bg-bg-color text-text-color h-[100vh] bg-gradient-to-bl from-sidebar-color to-bg-color;
}

::selection {
    @apply bg-accent-color text-text-color;
}

input {
    @apply border-none py-0 px-5 h-[35px] rounded-[20px] text-[14px] text-medium-gray;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-[1.4] my-[0.5em];
}

h1 {
    @apply text-[36px];
}

h2 {
    @apply text-[32px];
}

h3 {
    @apply text-[28px];
}

h4 {
    @apply text-[24px];
}

h5 {
    @apply text-[20px];
}

h6 {
    @apply text-[16px];
}

p {
    @apply text-[16px] leading-[1.7] my-[1em];
}

a {
    @apply text-accent-color;
}

select, input, button, a {
    &:focus-visible {
        @apply outline outline-2 outline-accent-color outline-offset-2;
    }
}

.button {
    @apply mr-[10px] py-[10px] px-[20px] uppercase;
}

.grid-items {
    .card {
        @apply h-full;
    }
    @apply grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-6;
}

.visually-hidden, .skip-link:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    @apply h-[1px] overflow-hidden absolute whitespace-nowrap w-[1px];
}

.skip-link:focus {
    @apply absolute z-[200] bg-accent-color text-[#fff] p-[10px] top-[10px] left-[10px] outline-2 outline font-medium;
}

svg {
    @apply mr-3 align-middle;
}
.close-menu-button {
    @apply absolute right-5 top-5;
}

.tippy-box[data-theme~='menu'] {
	background-color: var(--menu-background-color);
	color: var(--menu-text-color);
	border-radius: 3px;
	box-shadow: 0 13px 20px rgba(0, 0, 0, 0.3);
}
.tippy-box[data-theme~='menu'] .tippy-content {
    padding: 0px;
    width: 200px;
    max-width: 100%;
}

.tippy-box[data-theme~='menu'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--menu-background-color);
}
.tippy-box[data-theme~='menu'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--menu-background-color);
}
.tippy-box[data-theme~='menu'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: var(--menu-background-color);
}
.tippy-box[data-theme~='menu'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--menu-background-color);
}

#nprogress .bar {
    @apply bg-accent-color;
}

.modal.is-open {
    @apply block;
}

html.no-js .nav-content .nav-content-inner {
    @apply max-md:block max-md:h-auto;
}

html.no-js #main {
    @apply max-md:block;
}

html.no-js #topbar {
    @apply sticky top-0 md:fixed bg-header-color h-auto pt-[10px] px-[20px];
}

html.no-js .logged-in {
    @apply max-md:pt-[30px];
}

html.no-js .profile-button {
    @apply hidden;
}
html.no-js #profile-menu {
    @apply block;
    .profile-menu-content {
        ul {
            @apply p-0 m-0;
            li {
                @apply inline-block;
            }
        }
    }
}
html.no-js .content {
    @apply max-md:justify-start;
}
html.no-js .load-more {
    @apply hidden;
}
html.js .pagination {
    @apply hidden;
}
html.no-js .pagination {
    @apply flex justify-between mt-[40px];
}
.seek-slider::-webkit-slider-thumb, .seek-slider::-moz-range-thumb {
    @apply w-5 h-5 bg-red-600 border-red-50 border-2 rounded-[50%] cursor-pointer z-[9999] appearance-none;
}