@import "@fontsource/metropolis"; 
@import "@fontsource/metropolis/300"; 
@import "@fontsource/metropolis/500";
@import "@fontsource/metropolis/600"; 
@import "@fontsource/metropolis/700";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #191414;
	--sidebar-color: #000;
	--header-color: #000;
	--text-color: #fff;
	--accent-color: #1db954;
	--menu-background-color: #2e2e2e;
	--light-gray: #a7a7a7;
	--medium-gray: #2e2e2e;
	--dark-gray: #181818;
	--menu-text-color: #fff;
	--border: rgba(255, 255, 255, 0.15);
	--sidebar-width: 250px;
	--header-height: 64px;
	--error: #c24141;
	--warning: #e7a917;
}

body {
    @apply font-metropolis bg-bg-color text-text-color h-[100vh] bg-gradient-to-bl from-sidebar-color to-bg-color;
}

::selection {
    @apply bg-accent-color text-text-color;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-[1.4] my-[0.5em];
}

h1 {
    @apply text-[36px];
}

h2 {
    @apply text-[32px];
}

h3 {
    @apply text-[28px];
}

h4 {
    @apply text-[24px];
}

h5 {
    @apply text-[20px];
}

h6 {
    @apply text-[16px];
}

p {
    @apply text-[16px] leading-[1.7] my-[1em];
}

a {
    @apply text-accent-color;
}

select, input, button, a {
    &:focus-visible {
        @apply outline outline-2 outline-accent-color outline-offset-2;
    }
}

svg {
    @apply mr-3;
}

/* LOGIN PAGE */
/* body {
    @apply h-[100vh] bg-gradient-to-bl from-sidebar-color to-bg-color;

}

.wrapper {
    @apply flex flex-col md:flex-row items-center w-full max-w-[1200px] mt-[80px] mx-auto mb-0;
}

.cover {
    @apply flex-[1] mt-[40px] md:mt-0 md:ml-5;
    img {
        @apply max-w-full;
    }
}

.content {
    @apply flex-[1.8];
    .buttons {
        @apply mt-[40px] mr-[10px]; */
        .button {
            @apply mr-[10px] py-[10px] px-[20px] uppercase;
        }
    /* }
    .logo {
        @apply w-[170px] max-w-full mb-[30px];
    } 
} */
/**/